/* Main stylesheet */

/*------- Global & Variables ------- */
/* Fonts */
@font-stack {
    font-family: font-stack;
	src: url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i');
}

$font-stack:'Montserrat', sans-serif;

/* Font sizes */
$heading-size-large: 72px; /* h1-h2 */ 
$heading-size-medium: 28px; /* h2 */
$heading-size-small: 24px; /* h3+ */

$paragraph-size: 14px; /* p */
$button-size: 14px; /* button text */
$menu-size: 14px; /* menu text */

/* Font weights */
$heading-weight-large: 800; /* h1-h2 */
$heading-weight-medium: 800; /* h2 */
$heading-weight-small: 400; /* h3+ */
$bold-weight: 700;
$paragraph-weight: 400; /* p */
$button-weight: 400; /* button text */
$menu-weight: 500; /* menu text */

/* Transitions */
$standard-transition: background-color .15s ease-in-out;

/* Colors */
$theme-color: #de4d22;
$dark-color: #383838;
$light-color: #fff;
$light-background: #edf4f5;

/* Buttons */
$button-radius: 10px;

/* Global styling */
body {
    font-family: $font-stack;
    background-color:$light-background;
    padding-top:60px;
}

.bold-text { /* Span for single word bold text */
    font-weight: $bold-weight;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size:$heading-size-medium;
    color:$dark-color;
    font-weight: $heading-weight-medium;
    margin-top:75px;
    margin-bottom:20px;
    letter-spacing: 1px;
}

.separator { /* Separator below every h2 */
    line-height: 0.5;
    text-align: center;
    margin-bottom:50px;
    
    span {
        display: inline-block;
        position: relative;
        background-color:$theme-color;
        padding:18px;
        border-radius: 100%;
        color:$light-color;
        
        &:before, &:after {
            content: "";
            position: absolute;
            height: 3px;
            border-bottom: 3px solid $theme-color;
            width: 110px;
        }
        
        &:before {
            right: 100%;
            margin-right: 8px;
        }
        &:after {
            left: 100%;
            margin-left: 8px;
        }
    }
}

.se-mere { /* See more button */
    background-color:$theme-color;
    border-radius:$button-radius;
    text-transform: uppercase;
    color:$light-color;
    padding:10px 20px;
    margin: auto;
    transition: $standard-transition;
    margin-top:35px;

    &:hover {
        background-color:$dark-color;
        transition: $standard-transition;
        text-decoration: none;
        color:$light-color;
    }
}

/*------- Header ------- */

.navbar-brand {
    margin-bottom: 5px;
    margin-left:50px;
    height:57px;
    width:241px;
}
.customNavbar {
	background-color:$light-color !important; /* Overwrite bootstrap */
	-webkit-box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.4);
	box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.4);
	font-weight:$menu-weight;
	font-size: $menu-size;
	text-transform:uppercase;
}

.navbar-light .navbar-nav .nav-link {
    color: $dark-color;
}

.nav-item {
    padding-right: 20px;
    padding-left: 20px;
}

.login-btn {
	background-color:$theme-color;
	border-radius:$button-radius;
    font-weight: $button-weight;
    transition: $standard-transition;
    
    &:hover {
		background-color:$dark-color !important; /* Overwrite bootstrap */
        transition: $standard-transition;
	}
    
    a {
        display: block;
    }
}

.login-link {
	color:$light-color !important; /* Overwrite bootstrap */
}

/*------- Footer -------*/

.footer {
    padding-top:60px;
    padding-bottom:60px;
    background-color: $dark-color;
    color:$light-color;
    font-size:$paragraph-size;
    text-align: center;
    
    h4 {
        font-size:$heading-size-small;
        font-weight:$heading-weight-small;
    }
    
    img {
        margin-bottom:10px;
    }
    
    ul {
        list-style: none;
        padding:0;
        
        li {
            margin-bottom:5px;
        }
    }
     
    a {
        color:$light-color;
    }
    
    p {
        margin:0;
        margin-bottom:5px;
        
        i {
            margin-right:5px;
            font-size: $paragraph-size + 2px;
            width:20px;
            text-align: center;
        }
    }
}

/*------- index.php ------- */

/* Featured job - top slider */
.intro-slider {
	padding:0;
	
	h1, h2 {
		font-size:$heading-size-large;
		font-weight:$heading-weight-large;
		text-align:left;
        margin:0;
        padding:0;
        color:$light-color;
		text-transform:uppercase;
	}
	
	p {
		text-align:left;
        font-size:$paragraph-size;
	}
	
	.carousel-caption {
		top: 25%;
		max-width: 800px;
	}
	
	.slider-btn {
		float:left;
		background-color:$theme-color;
        padding: 10px 30px;
        border-radius: $button-radius;
        font-weight: $button-weight;
        color:$light-color;
        text-transform: uppercase;
        transition: $standard-transition;
        
        &:hover {
            transition: $standard-transition;
            background-color:$dark-color;
            text-decoration: none;
        }
	}
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

/* Nye jobopslag */

.search-job {
    height:120px;
    background-color:$theme-color;
    
    .form-group {
        margin-bottom: 0;
    }
    
    form {
        margin:auto;
    
        .form-control {
            border: none;
            border-radius: 0;
            height:40px;
            padding: 0px 10px;
        }

        .form-group {
            margin-left: 10px;
            margin-right: 10px;
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $dark-color;
            opacity: 1; /* Firefox */
            font-size:12px;
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $dark-color;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: $dark-color;
        }
        
        .btn-default {
            background-color:$dark-color;
            color:$light-color;
            font-size:$button-size;
            height:40px;
            border:none;
            border-radius: 0;
            margin-left:10px;
            text-transform: uppercase;
            padding: 0px 10px;
            
            &:hover {
                background-color:#5b5b5b;
            }
        }
    }

    .nye-jobs td a {
        padding: 5px 6px;
    }
}

.table td, .table th {
    vertical-align: middle;
}



.job-logo {
    background-color: #fff;
    border: solid #e3e3e3 1px;
    margin: auto;
    text-align: center;
    width: 72px;
    height: 72px;
    
    img {
        margin-top:25%;
    }
}

.nye-jobs {
    
    h3 {
        font-size:$heading-size-small;
        font-weight: $heading-weight-small;
        margin:0;
        padding:0;
    }
    
    p {
        margin:0;
        padding:0;
    }
    
    .virksomhed {
        font-weight: $bold-weight;
        
    }
    
    td {
        line-height:28px;
        font-size:$paragraph-size;
        font-weight: $paragraph-weight;
    }
    
    td a {
        border-radius: $button-radius;
        color:$light-color;
        font-size: $button-size;
        font-weight: $button-weight;
        padding:4px;
        
        &:hover {
            text-decoration: none;
            background-color:$theme-color;
        }
    }
    
    .se-opslag {
        background-color:$theme-color;
        transition: $standard-transition;
        
        &:hover {
            background-color:$dark-color;
            transition: $standard-transition;
        }
    }
}

/* Hent vores app */

.hent-vores-app {
    background-color:$light-color;
    text-align: center;
    padding-bottom:15px;
    
    h2 {
        padding-top:85px;
    }
    
    p {
        font-size: $paragraph-size + 2px; /* Paragraph variable plus 2px */
        font-weight: $paragraph-weight + 100; /* Paragraph variable plus 100 */
        margin-bottom:20px;
    }
    
    .download-btn {
        margin:10px;
    }
    
    .app-image {
        margin-top:30px;
    }
    
    /* Statistik */
    .statistik {
        padding-bottom:5px;
        max-width:802px;
        margin: auto;
        
        h3 {
            margin-top:20px;
            font-size:$heading-size-medium + 4px; /* Medium heading size + 4px */
            font-weight: $paragraph-weight + 200; /* Paragraph weight + 200 font weight */
        }
        
        hr {
            max-width:70px;
            border-bottom: solid $dark-color 2px;
        }
        
        p {
            font-size:$paragraph-size + 38px; /* Paragraph variable + 2px*/
            font-weight: $bold-weight;
        }
    }
}

/* Hvem bruger studiejobs.dk? */

.hvem-bruger-studiejobs {
    text-align: center;
    padding-bottom:80px;
    
    img {
        margin-bottom:40px;
        margin-top:40px;
        opacity:0.8;
        transition: opacity 0.15s ease-in-out;
        
        &:hover {
            opacity:1;
            transition: opacity 0.15s ease-in-out;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    /*------- Footer -------*/
    .footer {
        text-align: left;
    }
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
    
    body {
        padding-top:30px;
    }
    
    /*------- index.php ------- */

    /* Featured job - top slider */
    .intro-slider {
        padding:0;

        h1, h2 {
            font-size:$heading-size-large - 45px;
        }    
    }
    
    /* Nye jobopslag */
    .nye-jobs td a {
        padding: 10px 20px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    
    /*------- index.php ------- */

    /* Featured job - top slider */
    .intro-slider {
        padding:0;

        h1, h2 {
            font-size:$heading-size-large - 25px;
        }    
    }
    
    /* Navbar */
    .nav-item {
        padding-right: 13px;
        padding-left: 13px;
    }
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    /*------- index.php ------- */

    /* Featured job - top slider */
    .intro-slider {
        padding:0;

        h1, h2 {
            font-size:$heading-size-large;
        }    
    }
    
    /* Navbar */
    .nav-item {
        padding-right: 20px;
        padding-left: 20px;
    }
    
}